body{

font-family: Arial;

background:#ddd;

}


.container{

width:500px;

margin:50px auto;

background:white;

padding:30px;

text-align:center;

border-radius:10px;

}


button{

padding:12px;

margin:10px;

cursor:pointer;

background:#0066cc;

color:white;

border:0;

border-radius:5px;

}


input{

display:block;

margin:10px auto;

padding:10px;

width:80%;

}


#tela{

margin-top:20px;

padding:20px;

background:#eee;

border-radius:10px;

}